<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" 
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <style>
        body {
          background-image: url('/image/shop.jpg');
          background-repeat: no-repeat;
          background-attachment: fixed;  
          background-size: cover;
        }
         img {
            border: 1px solid #ddd;
            border-radius: 2px;
            padding: 5px;
            width: 250px;
        }
    </style>
<head>
</head>
<body>

<div class="container">
<h2>Cart Edit</h2>
<div th:insert="fragments/header :: header"></div>
    <form th:method="post" th:action="@{/product/cart/{id}/update/(id=${cart.id})}" th:object="${cart}">
         <div>
            <img th:src = ${cart.product.image}>
        </div>
        <div>
            Product Name: [[${cart.product.name}]]
        </div>
        <div>
            Size:
        </div>  
         <div class="form-check form-check-inline">
            <ul >
                <input type="radio" th:each="productsize :${cart.product.productSize}" name="productsize" 
                th:value="${productsize.size_text} " th:text="${productsize.size_text}" 
                th:checked="${productsize.size_text==cart.size_value}">
            </ul>
        </div> 
        <div>
        Price: [[${cart.product.price}]]
        </div>
        <div>  
           Quantity : <input type="text" th:field="*{quantity}">
        </div>   
        <br>
        <input type="submit" class="btn btn-primary" value="Update Cart Item">
        <a th:href="@{/product/cart}" class="btn btn-primary">Back</a>
    </form>    
</div>

</body>
</html>
