<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" 
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<head>
<style>
        body {
          background-image: url('/image/shop.jpg');
          background-repeat: no-repeat;
          background-attachment: fixed;  
          background-size: cover;
        }
        .myproduct{
           text: solid;
        }
</style>
<title>Online Shopping</title>
</head>
<body>
<div class="container">
    <div class = "row">
        <h2>Receipt Form</h2>
    </div>
     
    <div th:insert="fragments/header :: header"></div>
    <div class="text-center card-header">
        <img src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/a7a7b120588211.56042b16edecd.gif" width="400" height="300" >
    </div>
   <div class="text-center my_product">Your Bought Product List... </div>
     <div class="text-center card-body"th:each="cart :${carts}" th:object="${cart}">
           [[${cart.product.name}]]  items
           
    </div>
    <div class="text-center card-body" th:each="receipt :${receipts}" >
    Hey [[${receipt.appUser.username}]] 
    Your productt total Price is [[${receipt.total_price}]] Yen !!!! <br>
    <br>
    Thank you so much and We are warmly welcome to your next time shopping..
    </div>
    <div class="text-center card-body">
       <form th:action="@{/product/finishshopping}" th:method="delete">
                <button  class="btn btn-danger" type="submit" >Finish Shopping</button>
        </form>
    </div>
</div>
</body>
</html>